<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--注入action bean-->

    <bean id="loginAction" class="com.aric.xmls.ssh.action.LoginAction">
        <property name="accountService" ref="accountService"/>
    </bean>



</beans>